#banner{

    background-image: url(img/fondo.jpeg);
    background-size: cover;
    padding: 20% 2%;
    position: relative;
    z-index: 1;
    background-attachment: fixed;

}

#banner::after{
    position: absolute;
    background-color: black;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
    z-index: -1;
}

#banner h1{
    color: white;
    position: relative;
    font-size: 4rem;
}

.bg-dark{
    background-color: transparent !important;
}

.zoom img{

    transition: 0.5s filter 0.5s ease;
    filter: grayscale(100%);
}

.zoom{
    overflow: hidden;
}

.zoom:hover img{

    filter: grayscale(0);
    transform: scale(1);
}

.descripcion{
    font-family: 'Amatic SC', cursive;
    font-size: 1.2rem;
}

.fondoicono{
    color: black;
}

.fondoIcono{
    color: white;
}

.fondo2{
    background-color: #544C6E;
}

footer{
    background-color: #888397;
    color: white;
}




